.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  width: 100%;
  height: 90px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer-button svg {
  width: 70px;
  margin-bottom: 10px;

}

.footer-button rect,
.footer-button path {
  fill: transparent;
  stroke: var(--secondary-text-color);
}

.btn-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.footer-button:hover {
  border-radius: 15px;
  background-color: #0b131ea8;
}

.footer-button:hover .btn-title {
  color: var(--primary-text-color);
}

.footer-button:hover rect,
.footer-button:hover path {
  fill: transparent;
  stroke: var(--primary-text-color);
}